- name: mysql installation
  hosts: mysql
  tasks: 
  - name: installing mysql
    ansible.builtin.dnf:
      name: mysql
      state: present

  - name: start and enable
    ansible.builtin.service:
      name: mysql
      state: started
      enabled: yes

  - name: setting up password
    ansible.builtin.command: mysql_secure_installation --set-root-pass RoboShop@1
    